.form-table table {

	tr {

		> * {
			vertical-align: top;

			& + * {
				text-align: center;
			}
		}

		th,
		td {
			padding-top: 0;
		}

		td:first-of-type {
			padding-left: 0;
		}
	}

	[type="radio"] {
		margin-left: 0;
		margin-right: 0;
	}
}
