.form-table table {

	tr {

		> * {
			vertical-align: top;

			& + * {
				text-align: center;
			}
		}

		td:first-of-type {
			padding-left: 0;
		}

		&:first-of-type {

			th,
			td {
				padding-top: 0;
			}
		}
	}

	[type="radio"] {
		margin-left: 0;
		margin-right: 0;
	}
}
